{% extends 'receipts/base.html' %}

{% block content %}

<div class="formContent">
    {% if form.instance.id %}
    <form class="form" method="post" action="{% url 'edit' form.instance.id %}">
    <form class="form" method="post" action="{% url 'home'  %}">
    {% else %}
    <form class="form" method="post" action="{% url 'home' %}">
    {% endif%}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}